//中央上部
.main
  .main-header
    .left-box
      %p.left-box__user 
        = @group.name
      %ul.left-box__member
        メンバー:
        %li.left-box__name
          - @group.users.each do |user|
            = user.name

    = link_to edit_group_path(@group.id), class: "edit-btn" do
      .edit-btn__right Edit

      //中央メッセージ一覧
  .messages
    = render @messages
    .message
      .message-info
        %p.message-info__name akiraakira
        %p.message-info__data 2020/02/21(Fri) 13:03:35
      %p.message__text アヒル
    .message
      .message-info
        %p.message-info__name akiraakira
        %p.message-info__data 2020/02/21(Fri) 13:03:36
      %p.message__text コーヒー

      //メッセージフォーム
  .forms
    = form_for [@group, @message], html: {class: "form"} do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
      



