//左側上部
.side
  .side-header
    .side-header__box
      %p.box-username 
        = current_user.name
      %ui.box-menu
        %li.box-menu__edit-user
          = link_to new_group_path do
            = icon('fas', 'edit')
        %li.box-menu__new-group
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')

    //左側グループ
  .groups
    - current_user.groups.each do |group|
      .groups-box
        = link_to '#' do
          .groups-box__name
            = group.name 
          .groups-box__message
            まだメッセージはありません。